<head>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e80bdf23c5.js" crossorigin="anonymous"></script>

    <!-- Mobile Support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <a class="navbar-brand" href="/"><img src="/img/openflight-logo.png" alt="openflightHPC Logo" height="75"></img></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbar
SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

	<span class="navbar-text">
      <h2>Bootcamp <%= name %> - <%= @cluster['name'] %></h2>
	</span>

    </nav>

    <br />
    <div class="row container-fluid text-center">
      <div class="col-xl-4">
	      <h2>General Cluster Information</h2>
	      <p><b>Gateway IP:</b> <%= @cluster['ip'] %><br />
	      <b>SSH User:</b> flight<br />
	      <b>User Password:</b> <%= @cluster['password'] %></p>
      </div>
      <div class="col-xl-8">
	      <h2>VNC Connection Information</h2>
              <p>Using a VNC client, the console or desktop can be connected to with the following details</p>
            <div class="row">
	      <% @cluster['vnc'].each do |type, info| %>
              <div class="col-xl-6">
		<p><b>Session Type:</b> <%= type %><br />
		<b>Session Password:</b> <%= info['pass'] %></br >
		<b>Session Port:</b> <%= info['port'] %></p>
                <p>For mac users, enter vnc://flight:<%= info['pass'] %>@<%= @cluster['ip'] %>:<%= info['port'] %> into spotlight</p>
                <p>If you're experiencing difficulty connecting from a VNC client, <a href="/<%= @cluster['name'] %>/<%= type %>.html">click here</a> to be connected to the <%= type %></p>
	      </div>
	      <% end %>
         </div>
      </div>
    </div>
</body>

