<head>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e80bdf23c5.js" crossorigin="anonymous"></script>

    <!-- Mobile Support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <a class="navbar-brand" href="/"><img src="img/openflight-logo.png" alt="openflightHPC Logo" height="75"></img></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbar
SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

	<span class="navbar-text">
      <h2>Bootcamp <%= name %></h2>
	</span>

    </nav>

    <br />

    <div class="container-fluid text-center" style="min-height: 100%">
        <div class="row content pb-3">
<% @bootcamp.each do |cluster, info| %>
                <div class="col-lg-3 pb-2">
                    <div class="card" style="margin-top: 10px">
                        <span class="fa-card-img fa fa-4x fa-desktop"></span>
                        <div class="card-body flex-column">
                            <h5 class="card-title" style="text-align: center"><%= cluster %></h5>
<% cluster['vnc'].each do |type, details| %>
                                <a href="http://bootcamp.openflighthpc.org:8080/vnc_auto.html?path=?token=<%= cluster %>-<%= type %>&password=<%= details['pass'] %>" class="btn btn-primary mt-auto" style="width: 100%;margin-bottom: 16px">
                                    <span class="btn-card-link">Connect to <%= type %></span>
                                    <span class="fa fa-2x fa-desktop" style="float:right"></span>
                                </a>
<% end %>
                        </div>
                    </div>
                </div>
<% end %>
    </div>
    <div class="row">
        <br >
        <br >
        <br >
    </div>
</body>
